{% extends 'base.html.twig' %}

{# TEMPORAIRE bootswatch lux theme #} 
{% form_theme startOfQuestionForm 'bootstrap_5_layout.html.twig' %}


{% block title %}Exercise Maker{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">

            <h1>Création d'un exercice</h1>

            <ul>
                <li>Choix du titre de l'exo</li>
                <li>du thème</li>
                <li>de la difficultée</li>
            </ul>

            <h2>Ajout de question</h2>

        {{ form_start(startOfQuestionForm) }}

        {{ form_errors(startOfQuestionForm) }}

        {{ form_row(startOfQuestionForm.title, {'label': 'Quelle question souhaitez-vous posez ?',
                                                'attr': {
                                                        'palceholder': 'You think i\'m in danger ?',
                                                    }
                                                }) }}

        {{ form_row(startOfQuestionForm.explanation, {'label': 'Ici, expliquez la solution attendu.',
                                                'attr': {
                                                        'palceholder': 'I AM THE DANGER',
                                                    }
                                                }) }}

        <button type="submit" class="btn btn-primary">Ajouter à l'exercice</button>

        </div>
    </div>
</div>

{% endblock %}
