{% extends 'base.html.twig' %}

{% block title %}Nouvelle difficulté{% endblock %}

{% block body %}
    <h1>Créer une nouvelle difficulté</h1>

    {{ include('difficulty/_form.html.twig') }}

    <a href="{{ path('app_difficulty_index') }}">Retour à la liste de difficulté</a>
{% endblock %}
